<Div Class="d-flex flex-md-column justify-content-start bg-light align-items-center rounded">
    <Button Style="width: fit-content" @onclick="@IncrementCount">+</Button>
    <Div Class="text-center">@count</Div>
    <Button Style="width: fit-content" @onclick="@DecrementCount">-</Button>
</Div>
@code {
    private int count = 0;
    public void IncrementCount()
    {
        count++;
    }
    public void DecrementCount()
    {
        if (count > 0) count--;
    }
}
