<Div Class="p-2 row bg-white my-3 justify-content-between rounded">
    <Div Class="col-md-1 col-xs-4 order-md-1 order-2" Style="width: fit-content">
        <Counter />
    </Div>
    <Div Class="col-md-9 col-xs-12 order-md-2 order-1">
        <PostContent />
    </Div>
    <Div Class="col-md-2 col-xs-4 order-md-3 text-primary order-3" Style="width: fit-content; cursor: pointer;">
        <Icon Name="IconName.Reply" />
        Reply
    </Div>
</Div>
